@import "tailwindcss";

:root {

  --background: #ffffff;
  --primary: #D26900;
  --bg-neutral-900: #171717;
  --bg-neutral-800: #1f1f1f;
  --bg-neutral-700: #2c2c2c;
  --bg-neutral-600: #3a3a3a;
  --bg-neutral-500: #525252;
  --bg-neutral-400: #71717a;
  --bg-neutral-300: #a1a1aa;
  --bg-neutral-200: #d4d4d8;



}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-n9: var(--bg-neutral-900);
  --color-n8: var(--bg-neutral-800);
  --color-n7: var(--bg-neutral-700);
  --color-n6: var(--bg-neutral-600);
  --color-n5: var(--bg-neutral-500);
  --color-n4: var(--bg-neutral-400);
  --color-n3: var(--bg-neutral-300);
  --color-n2: var(--bg-neutral-200);
  


}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/globals.css */
@layer utilities {
  @keyframes bounce-wave {
    0%, 60%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-20px);
    }
  }

  .animate-bounce-wave {
    animation: bounce-wave 1.2s ease-in-out infinite;
  }
}